@import url('https://fonts.googleapis.com/css?family=Lato:300|Montserrat:700,400');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Mukta:700');



body{
    background-color: rgba(100,210,255, 0.55);
}

.nav
{
    margin-right:1rem;
    margin-top:1rem;
}
.nav>.nav-item>.nav-link
{
    margin-left:1rem;
    font-family:'Muli', sans-serif;
    font-size:1.25em;
    font-weight: 800;
    text-decoration: none;
    color: #f7f7f7;
    text-shadow: black 0px 0px 2px;  
    line-height: 1.2;
	letter-spacing: 0rem;
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
}

.nav>.nav-item>.nav-link:hover
{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



@keyframes popup {
    0% {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    100% {
        text-shadow: -2px -2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
  }

  .full{
      height: 90vh;
  }

  .svg_box{
    margin-top: auto;
    margin-bottom: auto;
  }

  .icon_svg{
      margin-left:5rem;
  }

  .swigle{
    stroke-dasharray: 100;
    animation: dash 10s linear reverse infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 1000;
    }
  }